body{
    margin: 0px;
}

#box1{
    border: 5px solid;
    width: 300px;
    height: 300px;
    font-size: 22px;
    background-color: greenyellow;

    position:static;

    /*
    margin-top: 50px;
    margin-left: 50px;
    margin: 50px;
    margin-left :auto;
    */
}

#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color:mediumblue;
}

a:link{
    color:lawngreen;
}

a:visited{
    color:grey;
}

a:hover{
    color:tomato;
}

a:active{
    color:yellow;
}